<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Acheezements</title>
  </head>

  <body>
    <h1>Acheezements</h1>
      <!-- <legend></legend> -->
    <div class="checkbox_group">
      <p>
        <input type="checkbox" name="Acheezement" value="1" id="checkbox1">
        <label for="checkbox1" class="label">Acheezements 1</label>
      </p>
      <p>
        <input type="checkbox" name="Acheezement" value="2"  id="checkbox12">
        <label for="checkbox2" class="label">Acheezements 2</label>
      </p>
      <p>
        <input type="checkbox" name="Acheezement" value="3"  id="checkbox12">
        <label for="checkbox3" class="label">Acheezements 3</label>
      </p>
    </div>

  </body>
</html>

<!-- class="o-forms__checkbox" id="checkbox12" checked="checked" -->