<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Acheezable</title>
  </head>
  <body>
    <h1>Acheezable</h1>

    <div class="dropdown-goals">
      <label for="goal-1" id="goal-1">Acheezement 1
      </label>
      <select id="1" name="goal-1">
        <option value="option-1">goal 1</option>
        <option value="option-2">goal 2</option>
        <option value="option-3">goal 3</option>
        <option value="option-4">goal 4</option>
      </select>
    </div>

    <div class="dropdown-goals">
      <label for="goal-2" id="goal-2">Acheezement 2
      </label>
      <select id="2" name="goal-2">
        <option value="option-1">goal 1</option>
        <option value="option-2">goal 2</option>
        <option value="option-3">goal 3</option>
        <option value="option-4">goal 4</option>
      </select>
    </div>


    <div class="dropdown-goals">
      <label for="goal-3" id="goal-3">Acheezement 3
      </label>
      <select id="3" name="goal-3">
        <option value="option-1">goal 1</option>
        <option value="option-2">goal 2</option>
        <option value="option-3">goal 3</option>
        <option value="option-4">goal 4</option>
      </select>
    </div>


    <div class="dropdown-goals">
      <label for="goal-4" id="goal-4">Acheezement 4
      </label>
      <select id="4" name="goal-4">
        <option value="option-1">goal 1</option>
        <option value="option-2">goal 2</option>
        <option value="option-3">goal 3</option>
        <option value="option-4">goal 4</option>
      </select>
    </div>

  </body>
</html>
