<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Acheezable</title>
  </head>
  <body>
    <h1>Acheezable</h1>

    <div class="dropdown-goals">
      <label for="goal-1" id="goal-1">Acheezement 1
      </label>
      <input type="text" name="goal-1" value="" placeholder="enter your goal">
    </div>

    <div class="dropdown-goals">
      <label for="goal-2" id="goal-2">Acheezement 2
      </label>
      <input type="text" name="goal-2" value="" placeholder="enter your goal">
    </div>

    <div class="dropdown-goals">
      <label for="goal-3" id="goal-3">Acheezement 3
      </label>
      <input type="text" name="goal-3" value="" placeholder="enter your goal">
    </div>

    <div class="dropdown-goals">
      <label for="goal-4" id="goal-4">Acheezement 4
      </label>
      <input type="text" name="goal-4" value="" placeholder="enter your goal">
    </div>


    <div>
      <form action="/" method="POST">
        <button id="submit-goals" type="submit" name="submit">Go</button>
      </form>
    </div>

  </body>
</html>
