<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Acheezable</title>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>Acheezable</h1>

    <form action="/acheezements" method="POST">
      <div class="dropdown-goals">
        <label id="labelGoal" for="goal">Acheezement
        </label>
        <input id="inputGoal" type="text" name="goal" placeholder="enter your goal">
      </div>

      <div>
        <button id="submitGoal" type="submit">Set Goal</button>
      </div>
      <div>
        <button id="submitCheeze" type="submit" name="cheeze" value="true">Submit Cheeze</button>
      </div>
    </form>
    <form action="/show" method="POST">
      <button id="goalHistory" type="submit">Show Cheezstory</button>
    </form>


    <script type="text/javascript" src="../src/indexInterface.js"></script>
  </body>
</html>
