<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway|Roboto" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Acheezable</title>
  </head>
  <body>
    <h1>Acheezable</h1>

    <form action="/acheezements" method="post">
      <div class="dropdown-goals">
        <label id="labelGoal" for="goal">Acheezement
        </label>
        <input id="inputGoal" type="text" name="goal" placeholder="enter your goal">
      </div>

      <div>
        <button id="submitGoal" type="submit">Set Goal</button>
      </div>
      <div>
        <button id="submitCheeze" type="submit" name="cheeze" value="true">Submit Cheeze</button>
      </div>
    </form>


    <script type="text/javascript" src="../src/indexInterface.js"></script>
  </body>
</html>
