html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #40362e;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
  text-align: center;
  font-family: 'Jua', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  text-shadow: -4px 5px 4px rgba(255, 255, 255, 0.3),
              -3px 3px 4px rgba(255, 229, 158, 1);
}

button {
  min-height: 30px;
  max-height: 60px;
  border-radius: 15px;
  color: #0c484c;
  background-color: #0aa4ae;
  border: 2px solid #6bd7de;
  margin-left: 10px;
  box-shadow: -3px 3px 4px 0px #40362e;
  font-family: 'Jua', sans-serif;
  padding-top: 4px;
  font-size: 0.9em;
}

button:focus {
  outline: 0;
}

input {
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 16px;
}

input:focus {
  outline: 0;
}

ul {
  list-style-type: none;
  padding: 0 30px;;
}


.incomplete button {
  background-color: #f16727;
  border: 2px solid #cd5c28;
  color: #75442e;
}

.form-element {
  padding-top: 12px
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #eeee;
  color: black;
  text-align: center;
}

.hide {
  display: none;
}

.button {
  text-decoration: none;
  /* display: inline-block; */
  height: 30px;
  border-radius: 15px;
  background-color: #125d62;
  border: 2px solid #389298;
  margin: 10px;
  box-shadow: -3px 3px 4px 0px #40362e;
  font-family: 'Jua', sans-serif;
  padding: 6px 8px 6px 8px;
  font-size: 0.9em;
  color: #d5fcff;


}
.edit-button, a {
  text-decoration:none;
}

.edit-button:link {
  color: #06373c;
}

.edit-button:hover {
  color: grey;
}

.swal-overlay, .swal-modal, {
  background:rgba(250, 250, 250, 0.8);
}

.swal-text {
  padding: 17px;
  border-radius: 5px;
  background-color: #28a4ac;
  display: block;
  margin: 22px;
  text-align: center;
  color: #095966;

}

.swal-button:focus {
  outline: 0;
}

.swal-button {
  color: #095966;
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #28a4ac;
  font-size: 14px;
}

.swal-modal {
  background-color: #ffe59e;
}
