html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #40362e;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  /* font-weight: 600; */
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-shadow: -4px 5px 4px rgba(255, 255, 255, 0.3),
              -3px 3px 4px rgba(255, 229, 158, 1);
}

p {
  max-width: 900px;
  margin: 8px auto;
  font-size: 18px;
}

button {
  min-height: 30px;
  max-height: 60px;
  border-radius: 15px;
  color: black;
  background-color: lightblue;
  border: 2px solid lightblue;
  margin-left: 10px;
  box-shadow: -3px 3px 4px 0px white;
  font-family: 'Raleway', sans-serif;
  padding-top: 4px;
  font-size: 0.9em;
  /* font-weight: 800; */
}

button:focus {
  outline: 0;
}

input {
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 16px;
}

input:focus {
  outline: 0;
}

ul {
  list-style-type: none;
  padding: 0 30px;;
}


.incomplete button {
  background-color: #f127279f;
  border: 2px solid #f127279f;
  color: white;
}

.form-element {
  padding-top: 12px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #eeee;
  color: black;
  text-align: center;
}

.true {
  color: #009f06;
}

.false {
  color: #e03907;
}

.hide {
  display: none;
}

.button {
  text-decoration: none;
  /* display: inline-block; */
  height: 30px;
  border-radius: 15px;
  background-color: lightblue;
  border: 2px solid lightblue;
  margin: 10px;
  box-shadow: -3px 3px 4px 0px #ffffff;
  font-family: 'Raleway', sans-serif;
  padding: 6px 8px 6px 8px;
  font-size: 0.9em;
  color: black;


}
.edit-button, a {
  text-decoration:none;
}

.edit-button:link {
  color: #06373c;
}

.edit-button:hover {
  color: grey;
}

.swal-overlay, .swal-modal, {
  background:rgba(250, 250, 250, 0.8);
}

.swal-text {
  padding: 17px;
  border-radius: 10px;
  background-color: lightblue;
  display: block;
  margin: 22px;
  text-align: center;
  color: black;
  /* font-weight: bold; */
}

.swal-button:focus {
  outline: 0;
}

.swal-button {
  color: black;
  padding: 7px 19px;
  border-radius: 4px;
  background-color: lightblue;
  font-size: 14px;
  /* font-weight: 800; */
  ;
}

.swal-modal {
  background-color:rgb(237, 232, 194);
  border-radius: 8px;
}
