<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway:700|Pacifico" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../../css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <title>Edit Acheezement</title>

</head>

<body>
  <img src="../../images/logo.png">

  <a id="home" href="/">
    <img src="../../images/home.png" align="left" width="100" height="100" >
  </a>
  <a id="logout" href="/logout">
    <img src="../../images/sign-out.png" align="right" width="100" height="100" >
  </a>
  <h1>Edit Acheezement</h1>

  <form action="/acheezements/<%= goal._id %>" method="post">
    <div class="form-element">
      <input id="inputGoal" type="text" name="goal" value="<%= goal.text %>">
    </div>
    <div class="form-element">
      <button id="addGoal" type="submit">Edit Acheezement</button>
    </div>
    <div class="form-element">
      <button id="viewGoals" type="submit" name="cheeze" value="true">View Today's Acheezements</button>
    </div>
  </form>

</body>

</html>
