<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link type="text/css" rel="stylesheet" href="../../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Jua|Pacifico" rel="stylesheet">

    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title></title>
  </head>
  <body>
    <h1>Cheezetory</h1>

    <ul>
      <ul>
        <% let weekArray = [];
        let goalsByDay = [];
        let weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
        for (var i = 0; i < weekdays.length; i++) {
          for (var j = 0; j < goals.length; j++) {
            if(goals[j].createdAt.getDay() === i) {
              weekArray[i] ? weekArray[i].push(goals[j].completed) : weekArray[i] = [goals[j].completed];
              goalsByDay[i] ? goalsByDay[i].push([goals[j].text, goals[j].completed]) : goalsByDay[i] = [[goals[j].text, goals[j].completed]];
            }
          }
          let percent = Math.floor(weekArray[i].filter(x => x).length / weekArray[i].length * 100)%>
        <li>On <%= weekdays[i] %> you completed : <%= percent %> %
          <div id="day<%= i %>" class="goals"><%= goalsByDay[i] %></div>
        </li>
        <% }
        console.log(goalsByDay)
        console.log(weekArray) %>
      </ul>
    </ul>


    <script type="text/javascript" src="../src/cheezetoryInterface.js"></script>
  </body>
</html>
