<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link type="text/css" rel="stylesheet" href="../../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Jua|Pacifico" rel="stylesheet">

    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title></title>
  </head>
  <body>
    <h1>Cheezetory</h1>

    <ul>
      <% let completedArray = []
      let dateArray = []
      for (var i = 0; i < goals.length; i++) {
        completedArray[i] = goals[i].completed
        dateArray[i] = goals[i].createdAt
      } %>

    </ul>


    <% if (goals) { %>
      <script type="text/javascript">
      let completedArray = [<%= completedArray %>]
      let dateArray = [<%= dateArray %>]
      </script>
    <% } %>
<script type="text/javascript" src="../src/cheezetoryInterface.js">

</script>
  </body>
</html>
