<!DOCTYPE html>
<html>
  <head>
    <img src="../images/logo.png">

    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Jua|Pacifico" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../css/styles.css">
  </head>
  <body>

    <h1>Log In</h1>

    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/login" method="post">

      <div class="form-element">
        <label>Email</label>
        <input id="emailAddress" type="email" class="form-control" name="email">
      </div>

      <div class="form-element">
        <label>Password</label>
        <input id="password" type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="button">Login</button>

    </form>

    <p>Need an account? <a href="/signup">Sign up</a></p>
  </body>
</html>
